.taskcontainer_container {
    display: flex;
    flex-direction: column;

    width: 272px;
    height: fit-content;
    padding: 6px;

    border-radius: 3px;

    gap: 5px;

    position: relative;

    background: #121214;
}

.taskcontainer_header {
    height: fit-content;
    padding: 3px;
}

.taskcontainer_header_input {
    display: block;

    width: 100%;
    min-height: 30px;
    padding: 0 5px;
    margin-bottom: 5px;

    border-style: none;
    border-radius: 3px;

    background: #101214;

    color: #F7F7F7;
    font-weight: 600;
    font-size: 14px;

    &:focus {
        outline: none;
        border: 1px solid;
        border-color: #1DA1F2;
    }
}
